<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/xinxi1990/iPARepo/blob/master/iOSDemo.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.baidu.com</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1556457677634&di=37296482f3f8cd27b38665396f169707&imgtype=0&src=http%3A%2F%2Ftablethype.de%2Fwp-content%2Fuploads%2F2015%2F08%2Fapple-logo.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.SolarSoft.SolarWallet</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>myapp</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
